= simple_form_for(@service) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :frequency
    = f.input :description
    = f.input :esd_id
    = f.association :organization
    = f.association :container_types

  .form-actions
    = f.button :submit
