%p#notice= notice

%p
  %b Name:
  = @service.name
%p
  %b Frequency:
  = @service.frequency
%p
  %b Description:
  = @service.description
%p
  %b Esd:
  = @service.esd_id
%p
  %b Organization:
  = @service.organization.name
%p
  %b Container types:
  %li
    - @service.container_types.each do |ct|
      %ul= ct

= link_to 'Edit', edit_service_path(@service)
\|
= link_to 'Back', services_path
