%p#notice= notice

%p
  %b Name:
  = @material_stream.name
%p
  %b Color:
  = @material_stream.color

= link_to 'Edit', edit_material_stream_path(@material_stream)
\|
= link_to 'Back', material_streams_path
