%p#notice= notice

%p
  %b Name:
  = @round_plan.name
%p
  %b Services:
  - @round_plan.services.each do |s|
    = s.name
%p
  %b Schedule:
  = IceCube::Rule.from_yaml(@round_plan.schedule).to_s
%p
  %b Start date:
  = @round_plan.start_date
%p
  %b End date:
  = @round_plan.end_date

= link_to 'Edit', edit_round_plan_path(@round_plan)
\|
= link_to 'Back', round_plans_path
