%p#notice= notice

.row
  .columns.large-12
    %h1= @organization.name

    %p
      %b Name:
      = @organization.name

    - @organization.services.each do |service|
      .panel
        %h3= service.name

    = link_to 'Edit', edit_organization_path(@organization)
    \|
    = link_to 'Back', organizations_path
